USE [master]
GO

CREATE DATABASE [QLDT]
GO

USE [QLDT]
GO


GO
USE [QLDT]
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveVietnameseAccent]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RemoveVietnameseAccent](@str NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    -- Xóa khoảng trắng
    SET @str = REPLACE(@str, ' ', '');

    -- Chuyển sang in hoa
    SET @str = UPPER(@str);

    -- Chữ A
    SET @str = REPLACE(@str, N'À', 'A');
    SET @str = REPLACE(@str, N'Á', 'A');
    SET @str = REPLACE(@str, N'Ạ', 'A');
    SET @str = REPLACE(@str, N'Ả', 'A');
    SET @str = REPLACE(@str, N'Ã', 'A');
    SET @str = REPLACE(@str, N'Â', 'A');
    SET @str = REPLACE(@str, N'Ầ', 'A');
    SET @str = REPLACE(@str, N'Ấ', 'A');
    SET @str = REPLACE(@str, N'Ậ', 'A');
    SET @str = REPLACE(@str, N'Ẩ', 'A');
    SET @str = REPLACE(@str, N'Ẫ', 'A');
    SET @str = REPLACE(@str, N'Ă', 'A');
    SET @str = REPLACE(@str, N'Ằ', 'A');
    SET @str = REPLACE(@str, N'Ắ', 'A');
    SET @str = REPLACE(@str, N'Ặ', 'A');
    SET @str = REPLACE(@str, N'Ẳ', 'A');
    SET @str = REPLACE(@str, N'Ẵ', 'A');

    -- Chữ E
    SET @str = REPLACE(@str, N'È', 'E');
    SET @str = REPLACE(@str, N'É', 'E');
    SET @str = REPLACE(@str, N'Ẹ', 'E');
    SET @str = REPLACE(@str, N'Ẻ', 'E');
    SET @str = REPLACE(@str, N'Ẽ', 'E');
    SET @str = REPLACE(@str, N'Ê', 'E');
    SET @str = REPLACE(@str, N'Ề', 'E');
    SET @str = REPLACE(@str, N'Ế', 'E');
    SET @str = REPLACE(@str, N'Ệ', 'E');
    SET @str = REPLACE(@str, N'Ể', 'E');
    SET @str = REPLACE(@str, N'Ễ', 'E');

    -- Chữ I
    SET @str = REPLACE(@str, N'Ì', 'I');
    SET @str = REPLACE(@str, N'Í', 'I');
    SET @str = REPLACE(@str, N'Ị', 'I');
    SET @str = REPLACE(@str, N'Ỉ', 'I');
    SET @str = REPLACE(@str, N'Ĩ', 'I');

    -- Chữ O
    SET @str = REPLACE(@str, N'Ò', 'O');
    SET @str = REPLACE(@str, N'Ó', 'O');
    SET @str = REPLACE(@str, N'Ọ', 'O');
    SET @str = REPLACE(@str, N'Ỏ', 'O');
    SET @str = REPLACE(@str, N'Õ', 'O');
    SET @str = REPLACE(@str, N'Ô', 'O');
    SET @str = REPLACE(@str, N'Ồ', 'O');
    SET @str = REPLACE(@str, N'Ố', 'O');
    SET @str = REPLACE(@str, N'Ộ', 'O');
    SET @str = REPLACE(@str, N'Ổ', 'O');
    SET @str = REPLACE(@str, N'Ỗ', 'O');
    SET @str = REPLACE(@str, N'Ơ', 'O');
    SET @str = REPLACE(@str, N'Ờ', 'O');
    SET @str = REPLACE(@str, N'Ớ', 'O');
    SET @str = REPLACE(@str, N'Ợ', 'O');
    SET @str = REPLACE(@str, N'Ở', 'O');
    SET @str = REPLACE(@str, N'Ỡ', 'O');

    -- Chữ U
    SET @str = REPLACE(@str, N'Ù', 'U');
    SET @str = REPLACE(@str, N'Ú', 'U');
    SET @str = REPLACE(@str, N'Ụ', 'U');
    SET @str = REPLACE(@str, N'Ủ', 'U');
    SET @str = REPLACE(@str, N'Ũ', 'U');
    SET @str = REPLACE(@str, N'Ư', 'U');
    SET @str = REPLACE(@str, N'Ừ', 'U');
    SET @str = REPLACE(@str, N'Ứ', 'U');
    SET @str = REPLACE(@str, N'Ự', 'U');
    SET @str = REPLACE(@str, N'Ử', 'U');
    SET @str = REPLACE(@str, N'Ữ', 'U');

    -- Chữ Y
    SET @str = REPLACE(@str, N'Ỳ', 'Y');
    SET @str = REPLACE(@str, N'Ý', 'Y');
    SET @str = REPLACE(@str, N'Ỵ', 'Y');
    SET @str = REPLACE(@str, N'Ỷ', 'Y');
    SET @str = REPLACE(@str, N'Ỹ', 'Y');

    -- Chữ Đ
    SET @str = REPLACE(@str, N'Đ', 'D');

    RETURN @str;
END
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[url_avatar] [nvarchar](500) NULL,
	[id_card] [nvarchar](100) NULL,
	[code] [nvarchar](max) NULL,
	[start_work] [datetime2](7) NULL,
	[end_work] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
	[manager_u_id] [nvarchar](450) NULL,
	[department_id] [int] NULL,
	[elevel_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[modified_at] [datetime2](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[status_id] [int] NULL,
	[created_by_id] [nvarchar](450) NULL,
	[update_by_id] [nvarchar](450) NULL,
	[position] [nvarchar](max) NULL,
	[normalized_full_name] [nvarchar](255) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action] [nvarchar](max) NULL,
	[entity_name] [nvarchar](max) NULL,
	[entity_id] [nvarchar](max) NULL,
	[user_id] [nvarchar](450) NULL,
	[time_stamp] [datetime2](7) NOT NULL,
	[changes] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certificates]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certificates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](450) NULL,
	[course_id] [nvarchar](450) NULL,
	[certificate_url] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Certificates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseAttachedFile]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAttachedFile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [nvarchar](450) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[link] [nvarchar](450) NULL,
	[created_by_id] [nvarchar](450) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[modified_at] [datetime2](7) NOT NULL,
	[public_id_url_pdf] [nvarchar](450) NULL,
	[type_doc_id] [int] NOT NULL,
 CONSTRAINT [PK_CourseAttachedFile] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseCategories]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseCategories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CourseCategories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseDepartment]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseDepartment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [nvarchar](450) NOT NULL,
	[department_id] [int] NOT NULL,
 CONSTRAINT [PK_CourseDepartment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseELevel]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseELevel](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [nvarchar](450) NOT NULL,
	[elevel_id] [int] NOT NULL,
 CONSTRAINT [PK_CourseELevel] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[id] [nvarchar](450) NOT NULL,
	[code] [nvarchar](100) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[objectives] [nvarchar](1000) NULL,
	[format] [nvarchar](50) NULL,
	[start_date] [datetime2](7) NULL,
	[end_date] [datetime2](7) NULL,
	[registration_start_date] [datetime2](7) NULL,
	[registration_closing_date] [datetime2](7) NULL,
	[location] [nvarchar](255) NULL,
	[status_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[modified_at] [datetime2](7) NULL,
	[optional] [nvarchar](50) NULL,
	[hours_per_sessions] [int] NULL,
	[max_participant] [int] NULL,
	[sessions] [int] NULL,
	[thumb_url] [nvarchar](500) NULL,
	[is_deleted] [bit] NOT NULL,
	[category_id] [int] NULL,
	[lecturer_id] [int] NULL,
	[created_by_id] [nvarchar](450) NULL,
	[update_by_id] [nvarchar](450) NULL,
	[is_private] [bit] NOT NULL,
	[NormalizeCourseName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseStatus]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[key] [int] NOT NULL,
 CONSTRAINT [PK_CourseStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name] [nvarchar](255) NOT NULL,
	[department_code] [nvarchar](255) NOT NULL,
	[level] [int] NOT NULL,
	[ParentId] [int] NULL,
	[manager_id] [nvarchar](450) NULL,
	[description] [nvarchar](1000) NULL,
	[status_id] [int] NULL,
	[create_at] [datetime2](7) NULL,
	[update_at] [datetime2](7) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentStatus]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DepartmentStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[device_token] [nvarchar](500) NULL,
	[platform] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[user_id] [nvarchar](450) NULL,
	[version] [nvarchar](50) NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeLevel]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeLevel](
	[elevel_id] [int] IDENTITY(1,1) NOT NULL,
	[elevel_name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_EmployeeLevel] PRIMARY KEY CLUSTERED 
(
	[elevel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [nvarchar](450) NULL,
	[user_id] [nvarchar](450) NULL,
	[q1_relevance] [int] NOT NULL,
	[q2_clarity] [int] NOT NULL,
	[q3_structure] [int] NOT NULL,
	[q4_duration] [int] NOT NULL,
	[q5_material] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[feedback_at] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonProgress]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonProgress](
	[user_id] [nvarchar](450) NOT NULL,
	[lesson_id] [int] NOT NULL,
	[is_completed] [bit] NOT NULL,
	[current_time_seconds] [int] NULL,
	[current_page] [int] NULL,
	[last_accessed] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LessonProgress] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[created_by_id] [nvarchar](450) NULL,
	[updated_by_id] [nvarchar](450) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[course_id] [nvarchar](450) NULL,
	[public_id_url_pdf] [nvarchar](255) NULL,
	[position] [int] NOT NULL,
	[file_url] [nvarchar](500) NOT NULL,
	[total_duration_seconds] [int] NULL,
	[total_pages] [int] NULL,
	[type_doc_id] [int] NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MessageLogs]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MessageLogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message_id] [int] NULL,
	[device_id] [int] NULL,
	[topic_id] [int] NULL,
	[status] [nvarchar](100) NULL,
	[error_message] [nvarchar](max) NULL,
	[sent_at] [datetime2](7) NOT NULL,
	[received_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MessageLogs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NULL,
	[body] [nvarchar](max) NULL,
	[data] [nvarchar](max) NULL,
	[send_type] [nvarchar](100) NULL,
	[sent_by] [nvarchar](450) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_id] [int] NOT NULL,
	[question_text] [nvarchar](255) NULL,
	[correct_option] [nvarchar](255) NULL,
	[question_type] [int] NULL,
	[explanation] [nvarchar](255) NULL,
	[a] [nvarchar](255) NULL,
	[b] [nvarchar](255) NULL,
	[c] [nvarchar](255) NULL,
	[d] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[position] [int] NOT NULL,
	[created_by_id] [nvarchar](450) NULL,
	[update_by_id] [nvarchar](450) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[id] [nvarchar](450) NOT NULL,
	[test_id] [int] NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
	[score] [real] NOT NULL,
	[is_passed] [bit] NOT NULL,
	[started_at] [datetime2](7) NULL,
	[submitted_at] [datetime2](7) NULL,
	[correct_answer_count] [int] NOT NULL,
	[incorrect_answer_count] [int] NOT NULL,
	[is_done] [bit] NOT NULL,
 CONSTRAINT [PK_TestResults] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [nvarchar](450) NULL,
	[title] [nvarchar](255) NOT NULL,
	[pass_threshold] [real] NOT NULL,
	[time_test] [int] NOT NULL,
	[created_by_id] [nvarchar](450) NULL,
	[updated_by_id] [nvarchar](450) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[position] [int] NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopicSubscriptions]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicSubscriptions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topic_id] [int] NULL,
	[device_id] [int] NULL,
	[subscribe_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TopicSubscriptions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeDocument]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeDocument](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name_type] [nvarchar](500) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[key] [int] NOT NULL,
 CONSTRAINT [PK_TypeDocument] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswers]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[test_result_id] [nvarchar](450) NULL,
	[question_id] [int] NOT NULL,
	[selected_options] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
 CONSTRAINT [PK_UserAnswers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourse]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](450) NOT NULL,
	[course_id] [nvarchar](450) NOT NULL,
	[assigned_at] [datetime2](7) NULL,
	[is_mandatory] [bit] NOT NULL,
	[status] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[modified_at] [datetime2](7) NOT NULL,
	[Optional] [int] NOT NULL,
	[percent_complete] [real] NOT NULL,
 CONSTRAINT [PK_UserCourse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](450) NULL,
	[message_id] [int] NOT NULL,
	[sent_at] [datetime2](7) NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime2](7) NULL,
	[is_hidden] [bit] NOT NULL,
 CONSTRAINT [PK_UserNotification] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatus]    Script Date: 08/10/2025 2:44:40 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_UserStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250616072134_Initital', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250617092102_CreateTableStatus', N'9.0.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250618064945_ChangeNameTableStatusToUserStatus', N'9.0.5')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'5093b866-53a5-43f6-a7e2-af18ee3fe753', N'HOCVIEN', N'HOCVIEN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'6a7619ee-a544-4220-8633-c3ccddaf8520', N'HR', N'HR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'93f4901f-3434-4f34-9c56-6389ea731b17', N'ADMIN', N'ADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0ad309b3-5a47-460f-b132-23e66645dcf8', N'5093b866-53a5-43f6-a7e2-af18ee3fe753')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'18672b9e-1db1-45e7-a334-ea32b37ab381', N'5093b866-53a5-43f6-a7e2-af18ee3fe753')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'19e38337-6e3a-477b-af67-a4b42cbbc2d0', N'5093b866-53a5-43f6-a7e2-af18ee3fe753')
GO
SET IDENTITY_INSERT [dbo].[Certificates] ON 

INSERT [dbo].[Certificates] ([id], [user_id], [course_id], [certificate_url], [created_at]) VALUES (20, N'b5a9d945-2290-42cb-9956-741b7319d6df', N'e2518797-cb86-4e19-947f-5c7861d5ee02', N'https://res.cloudinary.com/ttdn/raw/upload/v1755054706/certificates/certificates/5137d928-cd67-4ec5-a44c-5dbb1e21d8d0_4562f9eda2aa4ad781c4692108674693.pdf', CAST(N'2025-08-13T03:11:46.9716604' AS DateTime2))
INSERT [dbo].[Certificates] ([id], [user_id], [course_id], [certificate_url], [created_at]) VALUES (21, N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', N'e2518797-cb86-4e19-947f-5c7861d5ee02', N'https://res.cloudinary.com/ttdn/raw/upload/v1755055427/certificates/certificates/8fdb1ba2-c29f-4e54-bbbb-ad55c674e7d6_463310689d7e4cd28bf0b38a63101d1a.pdf', CAST(N'2025-08-13T10:23:47.7521836' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Certificates] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseAttachedFile] ON 

INSERT [dbo].[CourseAttachedFile] ([id], [course_id], [title], [link], [created_by_id], [created_at], [modified_at], [public_id_url_pdf], [type_doc_id]) VALUES (25, N'00eb6da2-a13f-43e7-8ea6-10d74d0a69dd', N'file1', N'https://res.cloudinary.com/ttdn/raw/upload/v1752208170/Course_pdfs/Course_pdfs/DKMH 20221_39137c3127754bdbb812c74e757fd92e.pdf', N'7f8456d6-d916-478f-b694-abf03fa39947', CAST(N'2025-07-11T11:29:28.8397543' AS DateTime2), CAST(N'2025-07-11T11:29:28.8397873' AS DateTime2), N'Course_pdfs/Course_pdfs/DKMH 20221_39137c3127754bdbb812c74e757fd92e.pdf', 1)
INSERT [dbo].[CourseAttachedFile] ([id], [course_id], [title], [link], [created_by_id], [created_at], [modified_at], [public_id_url_pdf], [type_doc_id]) VALUES (30, N'0a020477-8270-4094-b028-15eb198ee5fb', N'tài liệu hướng dẫn', N'https://res.cloudinary.com/ttdn/raw/upload/v1754378121/Course_pdfs/Course_pdfs/Tư tưởng HCM_ed4c732b7e3d4ea4af9fad50c769a456.pdf', N'5a95f9a6-3f25-4e95-a5c3-26c21ffbe818', CAST(N'2025-08-05T14:15:21.0804053' AS DateTime2), CAST(N'2025-08-05T14:15:21.0804575' AS DateTime2), N'Course_pdfs/Course_pdfs/Tư tưởng HCM_ed4c732b7e3d4ea4af9fad50c769a456.pdf', 1)
SET IDENTITY_INSERT [dbo].[CourseAttachedFile] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseCategories] ON 

INSERT [dbo].[CourseCategories] ([id], [name], [description]) VALUES (1, N'Đào tạo nội bộ', N'Khóa học được thiết kế và giảng dạy bởi nhân sự trong công ty nhằm chia sẻ kiến thức và kinh nghiệm thực tế.')
INSERT [dbo].[CourseCategories] ([id], [name], [description]) VALUES (2, N'Đào tạo kỹ năng bán hàng', N'Khóa học giúp nhân viên kinh doanh nâng cao kỹ năng tư vấn, chốt sale và chăm sóc khách hàng.')
INSERT [dbo].[CourseCategories] ([id], [name], [description]) VALUES (3, N'Kỹ năng mềm', N'Khóa học phát triển kỹ năng giao tiếp, làm việc nhóm, giải quyết vấn đề, thuyết trình, v.v.')
SET IDENTITY_INSERT [dbo].[CourseCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseDepartment] ON 

INSERT [dbo].[CourseDepartment] ([id], [course_id], [department_id]) VALUES (6, N'a47e5ba3-e460-4326-8e89-a27b73bd3303', 4)
INSERT [dbo].[CourseDepartment] ([id], [course_id], [department_id]) VALUES (7, N'a47e5ba3-e460-4326-8e89-a27b73bd3303', 5)
INSERT [dbo].[CourseDepartment] ([id], [course_id], [department_id]) VALUES (30, N'00eb6da2-a13f-43e7-8ea6-10d74d0a69dd', 11)
GO
SET IDENTITY_INSERT [dbo].[CourseDepartment] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseELevel] ON 

INSERT [dbo].[CourseELevel] ([id], [course_id], [elevel_id]) VALUES (1, N'88bdacd8-66a5-4e8c-8ad7-b4ef02e95091', 3)
INSERT [dbo].[CourseELevel] ([id], [course_id], [elevel_id]) VALUES (2, N'e2518797-cb86-4e19-947f-5c7861d5ee02', 3)
INSERT [dbo].[CourseELevel] ([id], [course_id], [elevel_id]) VALUES (3, N'0a020477-8270-4094-b028-15eb198ee5fb', 3)
SET IDENTITY_INSERT [dbo].[CourseELevel] OFF
GO
SET IDENTITY_INSERT [dbo].[CourseStatus] ON 

INSERT [dbo].[CourseStatus] ([id], [name], [key]) VALUES (1, N'Lưu nháp', 0)
INSERT [dbo].[CourseStatus] ([id], [name], [key]) VALUES (2, N'Sắp khai giảng', 1)
INSERT [dbo].[CourseStatus] ([id], [name], [key]) VALUES (3, N'Đang mở', 2)
SET IDENTITY_INSERT [dbo].[CourseStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([department_id], [department_name], [department_code], [level], [ParentId], [manager_id], [description], [status_id], [create_at], [update_at]) VALUES (1, N'Ban Giám Đốc', N'BGD', 1, NULL, N'5a95f9a6-3f25-4e95-a5c3-26c21ffbe818', N'Cấp quản lý cao nhất, đưa ra định hướng và chiến lược phát triển công ty.', 1, CAST(N'2025-06-20T14:03:57.0253244' AS DateTime2), CAST(N'2025-07-01T16:10:55.8390664' AS DateTime2))
INSERT [dbo].[Departments] ([department_id], [department_name], [department_code], [level], [ParentId], [manager_id], [description], [status_id], [create_at], [update_at]) VALUES (2, N'Giám đốc điều hành', N'GDDH', 2, 1, N'7f8456d6-d916-478f-b694-abf03fa39947', N'Quản lý chung các hoạt động công ty, đảm bảo mục tiêu và kế hoạch được thực thi.', 1, CAST(N'2025-06-20T14:07:43.5200986' AS DateTime2), CAST(N'2025-06-27T08:48:38.8822229' AS DateTime2))
INSERT [dbo].[Departments] ([department_id], [department_name], [department_code], [level], [ParentId], [manager_id], [description], [status_id], [create_at], [update_at]) VALUES (3, N'Văn phòng Giám đốc', N'VPGD', 2, 1, N'45e0fd3e-1d49-4bac-9772-99a1a4118ea1', N'Hỗ trợ công việc hành chính và lịch trình cho Giám đốc điều hành.', 1, CAST(N'2025-06-20T14:09:27.4264930' AS DateTime2), CAST(N'2025-06-20T14:09:27.4264978' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[DepartmentStatus] ON 

INSERT [dbo].[DepartmentStatus] ([id], [name]) VALUES (1, N'Hoạt động')
INSERT [dbo].[DepartmentStatus] ([id], [name]) VALUES (2, N'Không hoạt động')
SET IDENTITY_INSERT [dbo].[DepartmentStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([id], [device_token], [platform], [created_at], [user_id], [version]) VALUES (10, N'eEYDSQyMQx6Dl6wUCiWId3:APA91bHNBq8KSQmyT8Yk44Zw2JfnV2Lln75UrF_nAr1JXpbmPV8AOz-wwbgB670Rh_64m_48xBicU2NA9gSSzCpegUTae8x3eV_6HpFI_sMx31_EBXbrCxY', N'Android', CAST(N'2025-10-08T02:38:39.0926273' AS DateTime2), N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', NULL)
INSERT [dbo].[Devices] ([id], [device_token], [platform], [created_at], [user_id], [version]) VALUES (11, N'cKsmS8m1Qhea3_YMnJWmcH:APA91bFfjaX0p5uHqjzO6ASE-SHfnYWLVcsQeg8hVhumfLtPYlbH2Rux1w3P2RHdvsQsEVjOOzKuZK7g2CTv6l25N1rKChMQOfVQuCsH4clW_5P24qWTLys', N'Android', CAST(N'2025-10-08T02:51:07.5823520' AS DateTime2), N'b5a9d945-2290-42cb-9956-741b7319d6df', NULL)
INSERT [dbo].[Devices] ([id], [device_token], [platform], [created_at], [user_id], [version]) VALUES (12, N'eTnH_XshRWmVyPkXgpDGDr:APA91bE71WkYNaPhckGK2uWurt9DK76-tQxSOHnm0OTPiQg4sNpLSShztHiDURpj4Kz9YHebRfZDqA5_cBWAuFIylLpP3uWUpN0dtjmzrFgCB7TrnoSDmrA', N'Android', CAST(N'2025-10-08T04:07:28.3182709' AS DateTime2), N'b5a9d945-2290-42cb-9956-741b7319d6df', NULL)
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeLevel] ON 

INSERT [dbo].[EmployeeLevel] ([elevel_id], [elevel_name]) VALUES (1, N'Thực Tập')
INSERT [dbo].[EmployeeLevel] ([elevel_id], [elevel_name]) VALUES (2, N'Thử Việc')
INSERT [dbo].[EmployeeLevel] ([elevel_id], [elevel_name]) VALUES (3, N'Nhân Viên')
SET IDENTITY_INSERT [dbo].[EmployeeLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([id], [course_id], [user_id], [q1_relevance], [q2_clarity], [q3_structure], [q4_duration], [q5_material], [comment], [feedback_at], [CreatedAt]) VALUES (1, N'00eb6da2-a13f-43e7-8ea6-10d74d0a69dd', N'64b6cdf7-58e2-4de1-946f-a9091373aa6c', 4, 3, 5, 4, 3, N'Khá ổn', CAST(N'2025-07-11T02:38:02.9777737' AS DateTime2), NULL)
INSERT [dbo].[Feedbacks] ([id], [course_id], [user_id], [q1_relevance], [q2_clarity], [q3_structure], [q4_duration], [q5_material], [comment], [feedback_at], [CreatedAt]) VALUES (2, N'6e6c6caa-93b1-4e8a-a274-e41254344e97', N'64b6cdf7-58e2-4de1-946f-a9091373aa6c', 4, 3, 4, 3, 4, N'', CAST(N'2025-07-29T03:12:28.2521125' AS DateTime2), NULL)
INSERT [dbo].[Feedbacks] ([id], [course_id], [user_id], [q1_relevance], [q2_clarity], [q3_structure], [q4_duration], [q5_material], [comment], [feedback_at], [CreatedAt]) VALUES (3, N'e2518797-cb86-4e19-947f-5c7861d5ee02', N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', 4, 3, 5, 3, 4, N'Giao diện đẹp', CAST(N'2025-08-18T07:51:25.2434753' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
INSERT [dbo].[LessonProgress] ([user_id], [lesson_id], [is_completed], [current_time_seconds], [current_page], [last_accessed]) VALUES (N'5a95f9a6-3f25-4e95-a5c3-26c21ffbe818', 24, 0, NULL, 1, CAST(N'2025-08-05T10:18:00.0313956' AS DateTime2))
INSERT [dbo].[LessonProgress] ([user_id], [lesson_id], [is_completed], [current_time_seconds], [current_page], [last_accessed]) VALUES (N'64b6cdf7-58e2-4de1-946f-a9091373aa6c', 18, 0, NULL, 18, CAST(N'2025-07-15T10:56:51.5297338' AS DateTime2))
INSERT [dbo].[LessonProgress] ([user_id], [lesson_id], [is_completed], [current_time_seconds], [current_page], [last_accessed]) VALUES (N'64b6cdf7-58e2-4de1-946f-a9091373aa6c', 24, 1, NULL, 43, CAST(N'2025-07-30T14:23:20.0473894' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[MessageLogs] ON 

INSERT [dbo].[MessageLogs] ([id], [message_id], [device_id], [topic_id], [status], [error_message], [sent_at], [received_at]) VALUES (62, 32, 11, NULL, N'Sent', NULL, CAST(N'2025-10-08T03:09:13.5567146' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[MessageLogs] ([id], [message_id], [device_id], [topic_id], [status], [error_message], [sent_at], [received_at]) VALUES (63, 33, 11, NULL, N'Sent', NULL, CAST(N'2025-10-08T03:11:01.3375113' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[MessageLogs] ([id], [message_id], [device_id], [topic_id], [status], [error_message], [sent_at], [received_at]) VALUES (64, 34, 10, NULL, N'Sent', NULL, CAST(N'2025-10-08T03:11:01.5112846' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[MessageLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([id], [title], [body], [data], [send_type], [sent_by], [created_at]) VALUES (32, N'Khóa học mới', N'Có khóa học mới [CRSE90340299-COPY-5927] Quản lý Thời gian và Nâng cao Hiệu suất Làm việc 1 (Bản sao)! Hãy đăng ký để có thể học.', N'{"type":"CourseDetail","courseId":"ba8073d7-ec97-499b-9b8d-87e2aa55b969"}', N'Token', N'System', CAST(N'2025-10-08T10:09:13.2225379' AS DateTime2))
INSERT [dbo].[Messages] ([id], [title], [body], [data], [send_type], [sent_by], [created_at]) VALUES (33, N'Khóa học sắp bắt đầu', N'[CRSE11064074] Quản lý dự án với Jira sẽ bắt đầu vào ngày 09/10/2025', N'{"type":"CourseDetail","courseId":"13a8ad5f-94bd-4389-81c1-fbe57c649fb6"}', N'Token', N'System', CAST(N'2025-10-08T10:11:00.3675491' AS DateTime2))
INSERT [dbo].[Messages] ([id], [title], [body], [data], [send_type], [sent_by], [created_at]) VALUES (34, N'Khóa học sắp bắt đầu', N'[CRSE25366963] Quản lý cảm xúc trong công việc  sẽ bắt đầu vào ngày 10/10/2025', N'{"type":"CourseDetail","courseId":"6e6c6caa-93b1-4e8a-a274-e41254344e97"}', N'Token', N'System', CAST(N'2025-10-08T10:11:01.3967816' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([id], [test_id], [question_text], [correct_option], [question_type], [explanation], [a], [b], [c], [d], [created_at], [updated_at], [position], [created_by_id], [update_by_id]) VALUES (10, 1, N'Scrum là gì trong mô hình Agile?', N'c', 1, N'Scrum là một framework giúp triển khai Agile trong thực tế.', N'Một loại báo cáo tiến độ', N'Một kỹ thuật kiểm thử', N'Một khung làm việc trong Agile', N'Một mô hình phát triển thác nước', CAST(N'2025-07-16T09:36:01.6353623' AS DateTime2), CAST(N'2025-07-16T09:36:01.6353648' AS DateTime2), 2, NULL, NULL)
INSERT [dbo].[Questions] ([id], [test_id], [question_text], [correct_option], [question_type], [explanation], [a], [b], [c], [d], [created_at], [updated_at], [position], [created_by_id], [update_by_id]) VALUES (11, 1, N'Sprint trong Scrum thường kéo dài bao lâu?', N'b', 1, N'Một Sprint thường kéo dài từ 1 đến 4 tuần, phổ biến là 2 tuần.', N'1 ngày', N'2 tuần', N'2 tháng', N'6 tháng', CAST(N'2025-07-16T09:36:01.6355387' AS DateTime2), CAST(N'2025-07-16T09:36:01.6355390' AS DateTime2), 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
INSERT [dbo].[TestResults] ([id], [test_id], [user_id], [score], [is_passed], [started_at], [submitted_at], [correct_answer_count], [incorrect_answer_count], [is_done]) VALUES (N'012bf604-d2c0-453d-8ed9-dc227e97a269', 65, N'b5a9d945-2290-42cb-9956-741b7319d6df', 100, 1, CAST(N'2025-09-17T03:57:38.6070000' AS DateTime2), CAST(N'2025-09-17T03:57:47.3663621' AS DateTime2), 2, 0, 0)
INSERT [dbo].[TestResults] ([id], [test_id], [user_id], [score], [is_passed], [started_at], [submitted_at], [correct_answer_count], [incorrect_answer_count], [is_done]) VALUES (N'19267333-353d-477b-840a-ed4ec8c430f1', 73, N'b5a9d945-2290-42cb-9956-741b7319d6df', 100, 1, CAST(N'2025-09-23T16:50:30.8097100' AS DateTime2), CAST(N'2025-09-23T16:50:45.6878861' AS DateTime2), 3, 0, 0)
INSERT [dbo].[TestResults] ([id], [test_id], [user_id], [score], [is_passed], [started_at], [submitted_at], [correct_answer_count], [incorrect_answer_count], [is_done]) VALUES (N'20db89e9-a2a0-4b1f-bfb3-cb647fac7fcf', 66, N'b5a9d945-2290-42cb-9956-741b7319d6df', 100, 1, CAST(N'2025-09-17T03:57:59.1390000' AS DateTime2), CAST(N'2025-09-17T03:58:15.1041326' AS DateTime2), 2, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([id], [course_id], [title], [pass_threshold], [time_test], [created_by_id], [updated_by_id], [created_at], [updated_at], [position]) VALUES (1, N'00eb6da2-a13f-43e7-8ea6-10d74d0a69dd', N'Kiến thức cơ bản', 0.7, 25, N'7f8456d6-d916-478f-b694-abf03fa39947', N'5a95f9a6-3f25-4e95-a5c3-26c21ffbe818', CAST(N'2025-07-02T15:59:52.3900000' AS DateTime2), CAST(N'2025-07-16T03:15:06.6334434' AS DateTime2), 1)
INSERT [dbo].[Tests] ([id], [course_id], [title], [pass_threshold], [time_test], [created_by_id], [updated_by_id], [created_at], [updated_at], [position]) VALUES (2, N'00eb6da2-a13f-43e7-8ea6-10d74d0a69dd', N'Kỹ năng lập kế hoạch', 0.7, 20, N'7f8456d6-d916-478f-b694-abf03fa39947', NULL, CAST(N'2025-07-02T15:59:52.3900000' AS DateTime2), CAST(N'2025-07-02T15:59:52.3900000' AS DateTime2), 2)
INSERT [dbo].[Tests] ([id], [course_id], [title], [pass_threshold], [time_test], [created_by_id], [updated_by_id], [created_at], [updated_at], [position]) VALUES (3, N'00eb6da2-a13f-43e7-8ea6-10d74d0a69dd', N'Tổng kết khóa học', 0.7, 25, N'7f8456d6-d916-478f-b694-abf03fa39947', NULL, CAST(N'2025-07-02T15:59:52.3900000' AS DateTime2), CAST(N'2025-07-02T15:59:52.3900000' AS DateTime2), 3)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeDocument] ON 

INSERT [dbo].[TypeDocument] ([id], [name_type], [created_at], [key]) VALUES (1, N'PDF', CAST(N'2025-07-10T22:53:18.9700000' AS DateTime2), 0)
INSERT [dbo].[TypeDocument] ([id], [name_type], [created_at], [key]) VALUES (2, N'LINK', CAST(N'2025-07-10T22:53:38.0733333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[TypeDocument] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAnswers] ON 

INSERT [dbo].[UserAnswers] ([id], [test_result_id], [question_id], [selected_options], [is_correct]) VALUES (60, N'700a2697-fc29-461b-b227-35af2f00fdb3', 82, N'a', 1)
INSERT [dbo].[UserAnswers] ([id], [test_result_id], [question_id], [selected_options], [is_correct]) VALUES (61, N'700a2697-fc29-461b-b227-35af2f00fdb3', 83, N'c', 1)
INSERT [dbo].[UserAnswers] ([id], [test_result_id], [question_id], [selected_options], [is_correct]) VALUES (62, N'700a2697-fc29-461b-b227-35af2f00fdb3', 84, N'b', 1)
GO
SET IDENTITY_INSERT [dbo].[UserAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCourse] ON 

INSERT [dbo].[UserCourse] ([id], [user_id], [course_id], [assigned_at], [is_mandatory], [status], [created_at], [modified_at], [Optional], [percent_complete]) VALUES (69, N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', N'e2518797-cb86-4e19-947f-5c7861d5ee02', CAST(N'2025-08-11T16:33:12.8940433' AS DateTime2), 0, 3, CAST(N'2025-08-11T16:33:12.8941972' AS DateTime2), CAST(N'2025-08-11T16:33:12.8942241' AS DateTime2), 0, 100)
INSERT [dbo].[UserCourse] ([id], [user_id], [course_id], [assigned_at], [is_mandatory], [status], [created_at], [modified_at], [Optional], [percent_complete]) VALUES (70, N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', N'12355455-78fd-41df-a93e-450cc1d34a00', CAST(N'2025-08-11T16:40:45.3851530' AS DateTime2), 0, 4, CAST(N'2025-08-11T16:40:45.3851543' AS DateTime2), CAST(N'2025-08-11T16:40:45.3851545' AS DateTime2), 0, 50)
INSERT [dbo].[UserCourse] ([id], [user_id], [course_id], [assigned_at], [is_mandatory], [status], [created_at], [modified_at], [Optional], [percent_complete]) VALUES (71, N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', N'f2fa2585-7d4b-453a-8c14-31a5fd7607bd', CAST(N'2025-08-12T09:59:43.6045790' AS DateTime2), 0, 2, CAST(N'2025-08-12T09:59:43.6047526' AS DateTime2), CAST(N'2025-08-12T09:59:43.6047869' AS DateTime2), 0, 4.0063386)
SET IDENTITY_INSERT [dbo].[UserCourse] OFF
GO
SET IDENTITY_INSERT [dbo].[UserNotification] ON 

INSERT [dbo].[UserNotification] ([id], [user_id], [message_id], [sent_at], [is_read], [read_at], [is_hidden]) VALUES (30, N'b5a9d945-2290-42cb-9956-741b7319d6df', 32, CAST(N'2025-10-08T10:09:13.2225379' AS DateTime2), 0, NULL, 0)
INSERT [dbo].[UserNotification] ([id], [user_id], [message_id], [sent_at], [is_read], [read_at], [is_hidden]) VALUES (31, N'b5a9d945-2290-42cb-9956-741b7319d6df', 33, CAST(N'2025-10-08T10:11:00.3675491' AS DateTime2), 0, NULL, 0)
INSERT [dbo].[UserNotification] ([id], [user_id], [message_id], [sent_at], [is_read], [read_at], [is_hidden]) VALUES (32, N'8ef2a40e-ee88-4073-a4fc-22ca416663cc', 34, CAST(N'2025-10-08T10:11:01.3967816' AS DateTime2), 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[UserNotification] OFF
GO
SET IDENTITY_INSERT [dbo].[UserStatus] ON 

INSERT [dbo].[UserStatus] ([id], [name]) VALUES (1, N'Đang làm việc')
INSERT [dbo].[UserStatus] ([id], [name]) VALUES (2, N'Nghỉ việc')
SET IDENTITY_INSERT [dbo].[UserStatus] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationUser_Email]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_Email] ON [dbo].[AspNetUsers]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ApplicationUser_NormalizedFullName]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_ApplicationUser_NormalizedFullName] ON [dbo].[AspNetUsers]
(
	[normalized_full_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUsers_created_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_created_by_id] ON [dbo].[AspNetUsers]
(
	[created_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_department_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_department_id] ON [dbo].[AspNetUsers]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_elevel_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_elevel_id] ON [dbo].[AspNetUsers]
(
	[elevel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUsers_manager_u_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_manager_u_id] ON [dbo].[AspNetUsers]
(
	[manager_u_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AspNetUsers_status_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_status_id] ON [dbo].[AspNetUsers]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUsers_update_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUsers_update_by_id] ON [dbo].[AspNetUsers]
(
	[update_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_user_id] ON [dbo].[AuditLogs]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Certificates_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Certificates_course_id] ON [dbo].[Certificates]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Certificates_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Certificates_user_id] ON [dbo].[Certificates]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CourseAttachedFile_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseAttachedFile_course_id] ON [dbo].[CourseAttachedFile]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CourseAttachedFile_created_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseAttachedFile_created_by_id] ON [dbo].[CourseAttachedFile]
(
	[created_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseAttachedFile_type_doc_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseAttachedFile_type_doc_id] ON [dbo].[CourseAttachedFile]
(
	[type_doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CourseDepartment_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseDepartment_course_id] ON [dbo].[CourseDepartment]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseDepartment_department_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseDepartment_department_id] ON [dbo].[CourseDepartment]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CourseELevel_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseELevel_course_id] ON [dbo].[CourseELevel]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseELevel_elevel_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_CourseELevel_elevel_id] ON [dbo].[CourseELevel]
(
	[elevel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Course_Code]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Course_Code] ON [dbo].[Courses]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Course_NormalizedCourseName]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Course_NormalizedCourseName] ON [dbo].[Courses]
(
	[NormalizeCourseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_category_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Courses_category_id] ON [dbo].[Courses]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Courses_created_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Courses_created_by_id] ON [dbo].[Courses]
(
	[created_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Courses_status_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Courses_status_id] ON [dbo].[Courses]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Courses_update_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Courses_update_by_id] ON [dbo].[Courses]
(
	[update_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Departments_manager_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Departments_manager_id] ON [dbo].[Departments]
(
	[manager_id] ASC
)
WHERE ([manager_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_ParentId]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Departments_ParentId] ON [dbo].[Departments]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departments_status_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Departments_status_id] ON [dbo].[Departments]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Devices_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Devices_user_id] ON [dbo].[Devices]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedbacks_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_course_id] ON [dbo].[Feedbacks]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Feedbacks_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_user_id] ON [dbo].[Feedbacks]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonProgress_lesson_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_LessonProgress_lesson_id] ON [dbo].[LessonProgress]
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Lessons_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_course_id] ON [dbo].[Lessons]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Lessons_created_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_created_by_id] ON [dbo].[Lessons]
(
	[created_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lessons_type_doc_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_type_doc_id] ON [dbo].[Lessons]
(
	[type_doc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Lessons_updated_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Lessons_updated_by_id] ON [dbo].[Lessons]
(
	[updated_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageLogs_device_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_MessageLogs_device_id] ON [dbo].[MessageLogs]
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageLogs_message_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_MessageLogs_message_id] ON [dbo].[MessageLogs]
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MessageLogs_topic_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_MessageLogs_topic_id] ON [dbo].[MessageLogs]
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Questions_created_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Questions_created_by_id] ON [dbo].[Questions]
(
	[created_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_test_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Questions_test_id] ON [dbo].[Questions]
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Questions_update_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Questions_update_by_id] ON [dbo].[Questions]
(
	[update_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TestResults_test_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_TestResults_test_id] ON [dbo].[TestResults]
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TestResults_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_TestResults_user_id] ON [dbo].[TestResults]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tests_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Tests_course_id] ON [dbo].[Tests]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tests_created_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Tests_created_by_id] ON [dbo].[Tests]
(
	[created_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tests_updated_by_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_Tests_updated_by_id] ON [dbo].[Tests]
(
	[updated_by_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicSubscriptions_device_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_TopicSubscriptions_device_id] ON [dbo].[TopicSubscriptions]
(
	[device_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TopicSubscriptions_topic_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_TopicSubscriptions_topic_id] ON [dbo].[TopicSubscriptions]
(
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserAnswers_question_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserAnswers_question_id] ON [dbo].[UserAnswers]
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserAnswers_test_result_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserAnswers_test_result_id] ON [dbo].[UserAnswers]
(
	[test_result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserCourse_course_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserCourse_course_id] ON [dbo].[UserCourse]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserCourse_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserCourse_user_id] ON [dbo].[UserCourse]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserNotification_message_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserNotification_message_id] ON [dbo].[UserNotification]
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserNotification_user_id]    Script Date: 08/10/2025 2:44:40 pm ******/
CREATE NONCLUSTERED INDEX [IX_UserNotification_user_id] ON [dbo].[UserNotification]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseAttachedFile] ADD  DEFAULT ((0)) FOR [type_doc_id]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (N'') FOR [code]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_private]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (N'') FOR [NormalizeCourseName]
GO
ALTER TABLE [dbo].[CourseStatus] ADD  DEFAULT ((0)) FOR [key]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_completed]
GO
ALTER TABLE [dbo].[LessonProgress] ADD  DEFAULT (getdate()) FOR [last_accessed]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (N'') FOR [file_url]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [type_doc_id]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [test_id]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[TestResults] ADD  DEFAULT ((0)) FOR [correct_answer_count]
GO
ALTER TABLE [dbo].[TestResults] ADD  DEFAULT ((0)) FOR [incorrect_answer_count]
GO
ALTER TABLE [dbo].[TestResults] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_done]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ((0)) FOR [position]
GO
ALTER TABLE [dbo].[TypeDocument] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TypeDocument] ADD  DEFAULT ((0)) FOR [key]
GO
ALTER TABLE [dbo].[UserCourse] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_mandatory]
GO
ALTER TABLE [dbo].[UserCourse] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[UserCourse] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [created_at]
GO
ALTER TABLE [dbo].[UserCourse] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [modified_at]
GO
ALTER TABLE [dbo].[UserCourse] ADD  DEFAULT ((0)) FOR [Optional]
GO
ALTER TABLE [dbo].[UserCourse] ADD  DEFAULT (CONVERT([real],(0))) FOR [percent_complete]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_created_by_id] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_created_by_id]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_manager_u_id] FOREIGN KEY([manager_u_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_manager_u_id]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_AspNetUsers_update_by_id] FOREIGN KEY([update_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_AspNetUsers_update_by_id]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_Departments_department_id] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_Departments_department_id]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_EmployeeLevel_elevel_id] FOREIGN KEY([elevel_id])
REFERENCES [dbo].[EmployeeLevel] ([elevel_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_EmployeeLevel_elevel_id]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUsers_UserStatus_status_id] FOREIGN KEY([status_id])
REFERENCES [dbo].[UserStatus] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_AspNetUsers_UserStatus_status_id]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Certificates_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Certificates_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Certificates]  WITH CHECK ADD  CONSTRAINT [FK_Certificates_Courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[Certificates] CHECK CONSTRAINT [FK_Certificates_Courses_course_id]
GO
ALTER TABLE [dbo].[CourseAttachedFile]  WITH CHECK ADD  CONSTRAINT [fk_AttachedFile_type_document] FOREIGN KEY([type_doc_id])
REFERENCES [dbo].[TypeDocument] ([id])
GO
ALTER TABLE [dbo].[CourseAttachedFile] CHECK CONSTRAINT [fk_AttachedFile_type_document]
GO
ALTER TABLE [dbo].[CourseAttachedFile]  WITH CHECK ADD  CONSTRAINT [FK_CourseAttachedFile_AspNetUsers_created_by_id] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseAttachedFile] CHECK CONSTRAINT [FK_CourseAttachedFile_AspNetUsers_created_by_id]
GO
ALTER TABLE [dbo].[CourseAttachedFile]  WITH CHECK ADD  CONSTRAINT [FK_CourseAttachedFile_Courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseAttachedFile] CHECK CONSTRAINT [FK_CourseAttachedFile_Courses_course_id]
GO
ALTER TABLE [dbo].[CourseDepartment]  WITH CHECK ADD  CONSTRAINT [FK_CourseDepartment_Courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseDepartment] CHECK CONSTRAINT [FK_CourseDepartment_Courses_course_id]
GO
ALTER TABLE [dbo].[CourseDepartment]  WITH CHECK ADD  CONSTRAINT [FK_CourseDepartment_Departments_department_id] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseDepartment] CHECK CONSTRAINT [FK_CourseDepartment_Departments_department_id]
GO
ALTER TABLE [dbo].[CourseELevel]  WITH CHECK ADD  CONSTRAINT [FK_CourseELevel_Courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseELevel] CHECK CONSTRAINT [FK_CourseELevel_Courses_course_id]
GO
ALTER TABLE [dbo].[CourseELevel]  WITH CHECK ADD  CONSTRAINT [FK_CourseELevel_EmployeeLevel_elevel_id] FOREIGN KEY([elevel_id])
REFERENCES [dbo].[EmployeeLevel] ([elevel_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseELevel] CHECK CONSTRAINT [FK_CourseELevel_EmployeeLevel_elevel_id]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_AspNetUsers_created_by_id] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_AspNetUsers_created_by_id]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_AspNetUsers_update_by_id] FOREIGN KEY([update_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_AspNetUsers_update_by_id]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_CourseCategories_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[CourseCategories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_CourseCategories_category_id]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_CourseStatus_status_id] FOREIGN KEY([status_id])
REFERENCES [dbo].[CourseStatus] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_CourseStatus_status_id]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_AspNetUsers_manager_id] FOREIGN KEY([manager_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_AspNetUsers_manager_id]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Departments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Departments_ParentId]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_DepartmentStatus_status_id] FOREIGN KEY([status_id])
REFERENCES [dbo].[DepartmentStatus] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_DepartmentStatus_status_id]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Courses_course_id]
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD  CONSTRAINT [fk_student_lesson_progress_lesson] FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lessons] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonProgress] CHECK CONSTRAINT [fk_student_lesson_progress_lesson]
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD  CONSTRAINT [fk_student_lesson_progress_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LessonProgress] CHECK CONSTRAINT [fk_student_lesson_progress_user]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [fk_lessons_courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [fk_lessons_courses]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [fk_lessons_type_document] FOREIGN KEY([type_doc_id])
REFERENCES [dbo].[TypeDocument] ([id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [fk_lessons_type_document]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [fk_lessons_user_created] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [fk_lessons_user_created]
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD  CONSTRAINT [fk_lessons_user_edited] FOREIGN KEY([updated_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Lessons] CHECK CONSTRAINT [fk_lessons_user_edited]
GO
ALTER TABLE [dbo].[MessageLogs]  WITH CHECK ADD  CONSTRAINT [FK_MessageLogs_Devices_device_id] FOREIGN KEY([device_id])
REFERENCES [dbo].[Devices] ([id])
GO
ALTER TABLE [dbo].[MessageLogs] CHECK CONSTRAINT [FK_MessageLogs_Devices_device_id]
GO
ALTER TABLE [dbo].[MessageLogs]  WITH CHECK ADD  CONSTRAINT [FK_MessageLogs_Messages_message_id] FOREIGN KEY([message_id])
REFERENCES [dbo].[Messages] ([id])
GO
ALTER TABLE [dbo].[MessageLogs] CHECK CONSTRAINT [FK_MessageLogs_Messages_message_id]
GO
ALTER TABLE [dbo].[MessageLogs]  WITH CHECK ADD  CONSTRAINT [FK_MessageLogs_Topics_topic_id] FOREIGN KEY([topic_id])
REFERENCES [dbo].[Topics] ([id])
GO
ALTER TABLE [dbo].[MessageLogs] CHECK CONSTRAINT [FK_MessageLogs_Topics_topic_id]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_AspNetUsers_created_by_id] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_AspNetUsers_created_by_id]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_AspNetUsers_update_by_id] FOREIGN KEY([update_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_AspNetUsers_update_by_id]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [fk_questions_tests] FOREIGN KEY([test_id])
REFERENCES [dbo].[Tests] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [fk_questions_tests]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_Tests_test_id] FOREIGN KEY([test_id])
REFERENCES [dbo].[Tests] ([id])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_Tests_test_id]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [fk_tests_user_edited] FOREIGN KEY([updated_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [fk_tests_user_edited]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [fk_tests_user_updated] FOREIGN KEY([created_by_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [fk_tests_user_updated]
GO
ALTER TABLE [dbo].[TopicSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TopicSubscriptions_Devices_device_id] FOREIGN KEY([device_id])
REFERENCES [dbo].[Devices] ([id])
GO
ALTER TABLE [dbo].[TopicSubscriptions] CHECK CONSTRAINT [FK_TopicSubscriptions_Devices_device_id]
GO
ALTER TABLE [dbo].[TopicSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TopicSubscriptions_Topics_topic_id] FOREIGN KEY([topic_id])
REFERENCES [dbo].[Topics] ([id])
GO
ALTER TABLE [dbo].[TopicSubscriptions] CHECK CONSTRAINT [FK_TopicSubscriptions_Topics_topic_id]
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswers_Questions_question_id] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([id])
GO
ALTER TABLE [dbo].[UserAnswers] CHECK CONSTRAINT [FK_UserAnswers_Questions_question_id]
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD  CONSTRAINT [FK_UserAnswers_TestResults_test_result_id] FOREIGN KEY([test_result_id])
REFERENCES [dbo].[TestResults] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAnswers] CHECK CONSTRAINT [FK_UserAnswers_TestResults_test_result_id]
GO
ALTER TABLE [dbo].[UserCourse]  WITH CHECK ADD  CONSTRAINT [FK_UserCourse_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourse] CHECK CONSTRAINT [FK_UserCourse_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[UserCourse]  WITH CHECK ADD  CONSTRAINT [FK_UserCourse_Courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourse] CHECK CONSTRAINT [FK_UserCourse_Courses_course_id]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_UserNotification_AspNetUsers_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_UserNotification_AspNetUsers_user_id]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_UserNotification_Messages_message_id] FOREIGN KEY([message_id])
REFERENCES [dbo].[Messages] ([id])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_UserNotification_Messages_message_id]
GO
ALTER TABLE [dbo].[LessonProgress]  WITH CHECK ADD  CONSTRAINT [CK_Progress_Type] CHECK  (([current_time_seconds] IS NOT NULL AND [current_page] IS NULL OR [current_time_seconds] IS NULL AND [current_page] IS NOT NULL OR [current_time_seconds] IS NULL AND [current_page] IS NULL))
GO
ALTER TABLE [dbo].[LessonProgress] CHECK CONSTRAINT [CK_Progress_Type]
GO
USE [master]
GO
