# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/
*.dll
*.exe
*.pdb

# Test results
TestResults/
*.coverage
*.coveragexml

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.log
*.tmp
*.db
*.cache

# User-specific files
*.swp
*.sln.docstates

# Rider
.idea/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover
*.dotCover
